.user-profile-page {
  background-color: white;
  border-radius: 0.4rem;
  margin: 0;
  padding: 10px;
}

.pro-img {
  height: 200px;
  width: 165px;
  border: 2px solid #f3f3fd;
  border-radius: .4rem;
}

.data-label {
  margin-bottom: 5px;
  font-weight: bold;
}
