<div class="p-grid user-profile-page">
  <div class="p-col-12 p-md-12 p-lg-12" style="border-bottom: 2px solid #e9eaf5;">
    <h2 class="p-m-0">Personal Information</h2>
  </div>
  <div class="p-col-12 p-md-12 p-lg-12">
    <div class="personal-info">
      <div class="personal-info-content">
        <div class="p-grid">
          <div class="p-sm-12 p-order-sm-1 p-order-md-1 p-order-lg-0 p-md-9 p-lg-9">
            <div class="p-grid">
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Full name</span>
                  <input readonly name="name" type="text" value="Sadikur Rahman" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Date Of Birth</span>
                  <input readonly name="name" type="text" value="27/11/1995" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Email</span>
                  <input readonly name="name" type="email" value="sadikur@aiub.edu" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Phone</span>
                  <input readonly name="name" type="text" value="01704739271" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Sex </span>
                  <input readonly name="name" type="text" value="Male" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Religion</span>
                  <input readonly name="name" type="text" value="Islam" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Blood Group</span>
                  <input readonly name="name" type="text" value="Opos" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Marital Status</span>
                  <input readonly name="name" type="text" value="Married" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Father Name</span>
                  <input readonly name="name" type="text" value="Farid Hossain" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Mother Name</span>
                  <input readonly name="name" type="text" value="Sharifa Khatun" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Present Address</span>
                  <input readonly name="name" type="text" value="Nikunjjo-2, Dhaka, Bangladesh" pInputText />
                </div>
              </div>

              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Permanent Address</span>
                  <input readonly name="name" type="text" value="Trisal, Mymensingh, Bangladesh" pInputText />
                </div>
              </div>
              <div class="p-sm-12 p-md-4 p-lg-4">
                <div class="p-d-flex p-flex-column">
                  <span class="data-label">Country </span>
                  <input readonly name="name" type="text" value="Bangladesh" pInputText />
                </div>
              </div>
            </div>
          </div>
          <div class="p-sm-12 p-order-sm-0 p-order-md-0 p-order-lg-1 p-md-3 p-lg-3">
            <img alt="poseidon-layout" class="pro-img" src="./assets/2102-2092-3.JPG" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-col-12 p-md-12 p-lg-12" style="border-bottom: 2px solid #e9eaf5;">
    <h2 class="p-m-0">Official Information</h2>
  </div>
  <div class="p-col-12 p-md-12 p-lg-12">
    <div class="p-grid">
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Employee ID</span>
          <input readonly name="name" type="text" value="2102-2092-3" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Account No</span>
          <input readonly name="name" type="text" value="103.103.1193700" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Tin No</span>
          <input readonly name="name" type="text" value="**************" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Joining Date</span>
          <input readonly name="name" type="text" value="01/02/2021" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Year of Service</span>
          <input readonly name="name" type="text" value="0 Years 1 Months 6 Days" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Department</span>
          <input readonly name="name" type="text" value="Software Development Department" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Designations</span>
          <input readonly name="name" type="text" value="OFFICER" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Classification</span>
          <input readonly name="name" type="text" value="ADMINISTRATIVE" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Position</span>
          <input readonly name="name" type="text" value="Programmer" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Employee Type</span>
          <input readonly name="name" type="text" value="Non-Academic [Full-Time]" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Supervisor</span>
          <input readonly name="name" type="text" value="Md. Sadrul Amin" pInputText />
        </div>
      </div>
      <div class="p-sm-12 p-md-3 p-lg-3">
        <div class="p-d-flex p-flex-column">
          <span class="data-label">Increment Month</span>
          <input readonly name="name" type="text" value="February" pInputText />
        </div>
      </div>
    </div>
  </div>
</div>
